<div id="<%= dom_id assignment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= assignment.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Due date:</strong>
    <%= assignment.due_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Completed:</strong>
    <%= assignment.completed? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Student:</strong>
    <%= assignment.student_id %>
  </div>
</div>
