<div id="<%= dom_id assignment %>">
  <div>
    <strong>Title:</strong>
    <%= assignment.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= assignment.description %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= assignment.due_date %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= assignment.status %>
  </div>

  <div>
    <strong>Teacher:</strong>
    <%= assignment.teacher_id %>
  </div>

</div>
